<div class="titleContainer">
  <h1>Subscriptions</h1>
</div> 
<div class="tableContainer">
<table>
  <tr>
    <th>Internal ID</th>
    <th>XSolla ID</th>
    <th>FastSpring ID</th>
    <th>Product</th>
    <th>Next Charge Date</th>
    <th>Active?</th>
    <th>State</th>
    <th>FS Account ID</th>
    <th>FS Import ID</th>
  </tr>
  <% @subs.each do |sub| %>
      <td><%= link_to "#{sub.id}", "/#{sub.id}" %></td>
      <td><%= sub.xsolla_id %></td>
      <td><%= sub.fs_id %></td>
      <td><%= sub.product_display %></td>
      <td><%= sub.next_charge_date %></td>
      <td><%= sub.active %></td>
      <td><%= sub.state %></td>
      <td><%= sub.account_id %></td>
      <td><%= sub.import_id %></td>
    </tr>
  <% end %>
</table>
</div> 